<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>PMTs Application</title>
    <link rel="icon" href="~/lib/material-pro/assets/images/LogoPmts.png">

    <!----------------------------------- Include CSS File  ---------------------------------------------->
    <!-- Bootstrap Core CSS -->
    <link href="~/lib/material-pro/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/material-pro/assets/plugins/prism/prism.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/material-pro/assets/plugins/dropify/dist/css/dropify.min.css">

    <!-- JQuery -->
    <link href="~/js/jquery-ui.css" rel="stylesheet" />

    <!-- Theme Color -->
    <link href="~/lib/material-pro/main/css/colors/blue.css" id="theme" rel="stylesheet">

    <!-- Toast -->
    <link href="~/lib/material-pro/assets/plugins/toast-master/css/jquery.toast.css" rel="stylesheet">

    <!-- Material Pro -->
    <link href="~/lib/material-pro/main/css/style.css" rel="stylesheet" />
    <link href="~/lib/material-pro/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/material-pro/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/lib/material-pro/assets/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />

    <!-- Sweet-Alert  -->
    <link href="~/lib/material-pro/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" />

    <!-- Step Wizard -->
    <link href="~/lib/StepWizard/StepWizard.css" rel="stylesheet" />
    <style>
        html, body {
            margin: 0;
            height: 100%;
        }
    </style>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>