@model PMTs.DataAccess.ModelView.NewProduct.TransactionDataModel

<div class="row">
    <div class="col-sm-6">
        <h3>Routing</h3>
    </div>
    <div class="col-sm-6">
        @*<div class="row-fluid">
            <div class="float-right">
                <button type="button" class="btn btn-danger waves-effect waves-light" id="btnMoveUp" value="Up" onclick="MoveUpDown(this.value)"><i class="fa fa-arrow-up"></i></button>
                <button type="button" class="btn btn-danger waves-effect waves-light" id="btnMoveDown" value="Down" onclick="MoveUpDown(this.value)"><i class="fa fa-arrow-down"></i></button>
            </div>
        </div>*@
    </div>
</div>

<div class="row mt-2">
    <div class="col-sm-12">
        <select multiple class="form-control" id="RoutingData" onclick="event.preventDefault();" ondblclick="RoutingSelect(this.value)" style="height: 250px;">

            @foreach (var item in Model.modelRouting.RoutingDataList)
            {
                <option value="@item.SeqNo">@item.SeqNo | @item.Machine</option>
            }
            22222
        </select>
    </div>
</div>