@model PMTs.DataAccess.ModelView.BomRawMaterial.BomRawMaterialViewModel

<div class="box-body table-responsive">
    @*<table id="Lines-data-table" class="table table-bordered color-table dataTable no-footer" cellspacing="0">
        <thead>
        <tr style="white-space:nowrap;background:darkgray;color:black;">
        <th scope="col" width="5%" class="text-center">Type</th>
        <th scope="col" width="5%">No.</th>
        <th scope="col" width="15%">Description</th>
        <th scope="col" width="10%">จำนวนตัวลง</th>
        <th scope="col" width="10%">ขนาดผลิต(กว้าง)</th>
        <th scope="col" width="10%">ขนาดผลิต(สูง)</th>
        <th scope="col" width="5%">Size UOM</th>
        <th scope="col" width="10%">ไซส์ตัด</th>
        <th scope="col" width="10%">จำนวนต่อหน่วย(สำคัญ)</th>
        <th scope="col" width="5%">Measure Unit of Code</th>
        <th scope="col" width="5%">Category Item</th>
        <th scope="col" width="5%">Weight per Psc.</th>
        <th scope="col" class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        <partial name="_DataOfTable" model="Model" />
        </tbody>
        *<tfoot>
        <!-- Footer Content -->
        </tfoot>
        </table>*@
    <div id="basicgrid"></div>
</div>